<form class="layui-form seller-form" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label seller-inline-2">物流公司名称：</label>
            <div class="layui-input-inline seller-inline-4">
                <input type="text" name="name" lay-verify="title" placeholder="请输入公司名称关键字" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label seller-inline-2">物流公司编码：</label>
            <div class="layui-input-inline seller-inline-4">
                <input type="text" name="code" lay-verify="title" placeholder="请输入公司编码关键字" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="logistics-search"><i
                    class="iconfont icon-chaxun"></i>筛选</button>
        </div>
    </div>
</form>
<div class="table-body">
    <table id="logisticsTable" lay-filter="logisticsTable"></table>
</div>
<script>
    layui.use(['table', 'form', 'layer', 'laydate'], function () {
        var layer = layui.layer, table = layui.table, form = layui.form, date = layui.laydate;
        //执行渲染
        table.render({
            elem: '#logisticsTable', //指定原始表格元素选择器（推荐id选择器）
            height: 'full-99',
            cellMinWidth: '80',
            page: 'true',
            limit: '20',
            id: 'logisticsTable',
            url: "{:url('logistics/index')}",
            cols: [[ //标题栏
                // { checkbox: true },
                { field: 'id', sort: true, title: 'ID', width: 90, align: 'center' },
                { field: 'logi_name', title: '物流公司名称', align: 'center' },
                { field: 'logi_code', title: '物流公司编码', align: 'center' },
                { field: 'sort', sort: true, title: '排序', width: 80, align: 'center' },
                // { width: 140, title: '操作', align: 'center', toolbar: '#logisticsBar' }
            ]] //设置表头
        });
        //search
        date.render({
            elem: '#utime',
            range: '~',
            trigger: 'click' //自动弹出控件的事件，采用click弹出
        });
        form.on('submit(logistics-search)', function (data) {
            layui.table.reload('logisticsTable', {
                where: data.field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    })
</script>