<style>
    @media screen and (max-width: 500px) {
        .layui-layer.layui-layer-page {
            width: 100% !important;
            overflow: hidden !important;
            left: 0 !important;
        }
        .layui-layer-title {
            width: 100% !important;
            box-sizing: border-box;
        }
        .layui-layer-content {
            width: 100% !important;
        }
    }
</style>
<div class="table-body">
    <table id="paymentsSellerTable" lay-filter="paymentsSellerTable"></table>
</div>
<script>
    layui.use(['table', 'form', 'layer'], function () {
        var table = layui.table, form = layui.form, layer = layui.layer;
        //第一个实例
        table.render({
            elem: '#paymentsSellerTable', //指定原始表格元素选择器（推荐id选择器）
            height: 'full-62',
            cellMinWidth: '80',
            id: 'paymentsSellerTable',
            url: "{:url('payments/index')}",
            cols: [[ //表头
                {field:'id', width:90, title:'ID', align: 'center'},
                { field: 'name', title: '支付方式名称', align: 'center'},
                { field: 'code', title: '支付类型编码', align: 'center' },
                { field: 'is_online', title: '类型', align: 'center', width: 110 },
                { field: 'status', title: '状态', sort: true, align: 'center', width: 100, templet: '#status', unresize: true },
                { field: 'sort', title: '排序', align: 'center', width: 80 },
            ]]
        });

        form.on('submit(payments-search)', function (data) {
            table.reload('paymentsSellerTable', {
                where: data.field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>

<script type="text/html" id="status">
    <input disabled type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>