<form class="layui-form seller-form" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label seller-inline-2">品牌名称：</label>
            <div class="layui-input-inline seller-inline-4">
                <input type="text" name="name" lay-verify="title" placeholder="请输入名称关键字" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label seller-inline-2">更新时间：</label>
            <div class="layui-input-inline seller-inline-4">
                <input type="text" id="utime" name="utime" placeholder="开始时间 到 结束时间" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="brand-search"><i
                    class="iconfont icon-chaxun"></i>筛选</button>
        </div>
    </div>
</form>
<div class="table-body">
    <table id="brandTable" lay-filter="brandTable"></table>
</div>
<script>
    layui.use(['table', 'form', 'layer', 'laydate'], function () {
        var layer = layui.layer, table = layui.table, form = layui.form, date = layui.laydate;
        //执行渲染
        table.render({
            elem: '#brandTable', //指定原始表格元素选择器（推荐id选择器）
            height: 'full-99',
            cellMinWidth: '80',
            page: 'true',
            limit: '20',
            id: 'brandTable',
            url: "{:url('brand/index')}",
            cols: [[ //标题栏
                { field: 'id', width: 90, title: 'ID', align: 'center' },
                {field:'shop_id', width:90, title:'店铺ID', align: 'center'},
                { field: 'name', title: '品牌名', minWidth: 200, align: 'center' },
                {
                    field: 'logo', title: 'LOGO', align: 'center', width: 140, templet: function (data) {
                        return '<a href="javascript:void(0);" onclick=viewImage("' + data.logo + '")><image style="max-width:30px;max-height:30px;" src="' + data.logo + '"/></a>';
                    }
                },
                { field: 'utime', sort: true, title: '更新时间', align: 'center', width: 200 },
                { field: 'sort', sort: true, title: '排序', align: 'center', width: 100 },
            ]] //设置表头
            //,…… //更多参数参考右侧目录：基本参数选项
        });

        date.render({
            elem: '#utime',
            range: '到',
            trigger: 'click' //自动弹出控件的事件，采用click弹出
        });

        form.on('submit(brand-search)', function (data) {
            layui.table.reload('brandTable', {
                where: data.field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    })
</script>