

<form class="layui-form seller-alone-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

    <input type="hidden" name="id" value="{$info.id}">

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>店铺名称：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="name" value="{$info.name}" lay-verify="required" placeholder="请输入店铺名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i> 子域名：</label>
        <div class="layui-input-inline seller-inline-4">
            <input type="text" name="subdomain" value="{$info.subdomain}" lay-verify="required" placeholder="请输入子域名" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            {:jshopToken('shop_edit')}
            <button type="button" class="layui-btn" lay-submit lay-filter="add-shop">保存</button>
            <button type="button" onclick="javascript:history.back(-1);" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<script>
    layui.use('form', function(){
        var $ = layui.$,form = layui.form;
        form.render();
        //各种基于事件的操作，下面会有进一步介绍

        form.on('submit(add-shop)', function(data){
            JsPost("{:url('Shop/edit')}",data.field,function(res){
                if(res.status){
                    layer.msg(res.msg, {time:1300},function(){
                        window.location.href = "{:url('Shop/index')}";
                    });
                }else{
                    layer.msg(res.msg);
                }
            });
        });
    });
</script>
